<form class="col-6">
    <label for="comment" class="form-label">
        <i class="fa fa-comments" aria-hidden="true"></i>
        <h3>Comentário</h3>
    </label>
    <textarea class="form-control" id="comment" rows="3"></textarea>
<button type="submit" onclick="send()" id="button" class="btn btn-primary col-12">Enviar</button>
<div id="status" class="justify-content-center"></div>
</form>